@if (Item.IsMarked("title"))
{
    <li class="sidebar-header">@Item.Name</li>
}
else
{
    <li class="@itemClassName">
        <NavLink class="@linkClassName" @onclick="OnClick" href="@Item.LinkUrl" @attributes="AdditionalAttributes">
            @if (!string.IsNullOrEmpty(Item.IconName))
            {
                <i class="align-middle @(Item.IconName)"></i>
            }
            <span class="align-middle">@Item.Name</span>
            @if (Item.TryGetMarked("badge", out var value))
            {
                if (!Item.TryGetMarked("badge-bgcolor", out var color))
                {
                    color = "success";
                }
                <span class="badge text-bg-@color">@value</span>
            }
        </NavLink>
        @if (hasChildren)
        {
            <ul id="@Item.UniqueId" class="@className" data-bs-parent=".sidebar">
                @foreach (MenuItem item in Item)
                {
                    <NavMenuItem Item="item" />
                }
            </ul>
        }
    </li>
}

@code {
    /// <summary>
    /// 当前菜单项目。
    /// </summary>
    [Parameter]
    public MenuItem Item { get; set; } = null!;

    /// <summary>
    /// 当前菜单实例。
    /// </summary>
    [CascadingParameter]
    public NavMenu NavMenu { get; set; } = null!;

    [Parameter]
    public Action<MenuItem>? OnClickCallback { get; set; }

    private bool hasChildren;
    private string? itemClassName;
    private string? linkClassName;
    private string className = "sidebar-dropdown list-unstyled collapse";
    private bool isCurrent;
    private Dictionary<string, object?> AdditionalAttributes { get; set; } = new();
    protected override void OnParametersSet()
    {
        hasChildren = Item.Any();
        isCurrent = NavMenu.IsCurrent(Item.UniqueId!);
        itemClassName = "sidebar-item";
        if (isCurrent)
        {
            itemClassName += " active";
            className += " show";
            AdditionalAttributes.Add("aria-expanded", "true");
        }
        else
        {
            AdditionalAttributes.Add("aria-expanded", "false");
        }
        linkClassName = "sidebar-link";
        if (hasChildren)
        {
            if (!isCurrent)
                linkClassName += " collapsed";
            AdditionalAttributes.Add("data-bs-toggle", "collapse");
            AdditionalAttributes.Add("data-bs-target", $"#{Item.UniqueId}");
        }
    }

    private void OnClick()
    {
        NavMenu.NavigateTo(Item);
    }
}