@inject MenuState MenuState

@if (Item.IsMarked("title"))
{
    <li class="sidebar-header">@Item.Name</li>
}
else
{
    <li class="@itemClassName">
        <a class="@linkClassName" @onclick="SetCurrent" @attributes="AdditionalAttributes">
            @if (!string.IsNullOrEmpty(Item.IconName))
            {
                <i class="align-middle @(Item.IconName)"></i>
            }
            <span class="align-middle">@Item.Name</span>
            @if (Item.TryGetMarked("badge", out var value))
            {
                if (!Item.TryGetMarked("badge-bgcolor", out var color))
                {
                    color = "success";
                }
                <span class="badge text-bg-@color">@value</span>
            }
        </a>
        @if (hasChildren)
        {
            <NavMenuGroup Item="Item" IsCurrent="isCurrent" />
        }
    </li>
}

@code {
    /// <summary>
    /// 当前菜单项目。
    /// </summary>
    [Parameter]
    public MenuItem Item { get; set; } = null!;

    /// <summary>
    /// 当前菜单实例。
    /// </summary>
    [CascadingParameter]
    public NavMenu NavMenu { get; set; } = null!;

    private bool hasChildren;
    private string? itemClassName;
    private string? linkClassName;
    private bool isCurrent;
    private Dictionary<string, object> AdditionalAttributes { get; set; } = new();
    protected override void OnParametersSet()
    {
        hasChildren = Item.Any();
        isCurrent = MenuState.IsCurrent(Item.UniqueId);
        itemClassName = "sidebar-item";
        if (isCurrent)
        {
            itemClassName += " active";
            AdditionalAttributes.Add("aria-expanded", "false");
        }
        linkClassName = "sidebar-link";
        if (hasChildren)
        {
            if (!isCurrent)
                linkClassName += " collapsed";
            AdditionalAttributes.Add("data-bs-toggle", "collapse");
            AdditionalAttributes.Add("data-bs-target", $"#{Item.UniqueId}");
        }
        else
        {
            AdditionalAttributes.Add("href", Item.LinkUrl);
        }
    }

    private void SetCurrent()
    {
        NavMenu.NavigateTo(Item);
    }
}