@using GSites.Extensions.Menus
@using GSites.Extensions.Themes
@inject IMenuDataProviderFactory MenuDataProviderFactory
@inherits GSiteComponentBase

@if (_authorized)
{
    <div id="@Item.Id" class="@ClassName">
        @if (_collapse)
        {
            <button class="@("nav-link".AddClass("expanded", _expanded).AddClass("active", _active))"
                    href="@Item.Url"
                    @onclick="OnCollasped"
                    @onclick:preventDefault="true"
                    @onclick:stopPropagation="true"
                    title="@Item.Title">
                <Icon Class="@Item.Icon"></Icon>
                <span>@Item.Title</span>
            </button>
            @if (_expanded)
            {
                <nav class="nav nav-@(Level) flex-column">
                    @foreach (var child in Item.OrderBy(m => m.Priority))
                    {
                        <NavMenuItem Item="child" Level="@(Level + 1)" />
                    }
                </nav>
            }
        }
        else
        {
            <NavLink class="nav-link" @onclick="OnActived" href="@Item.Url" title="@Item.Title" Match="@(Item.Match?? NavLinkMatch.Prefix)">
                <Icon Class="@Item.Icon"></Icon>
                <span>@Item.Title</span>
            </NavLink>
        }
    </div>
}

@code {
    /// <summary>
    /// 父级菜单组件实例。
    /// </summary>
    [CascadingParameter]
    private NavMenu? NavMenu { get; set; }

    /// <summary>
    /// 当前菜单项目实例。
    /// </summary>
    [Parameter]
    public GSites.Extensions.Menus.NavMenuItem Item { get; set; } = null!;

    /// <summary>
    /// 层级。
    /// </summary>
    [Parameter]
    public int Level { get; set; }

    /// <summary>
    /// 当前样式名称。
    /// </summary>
    protected override ClassName ClassName => "nav-item".AddClass("nav-collapse", _collapse);

    private bool _collapse;
    private bool _authorized;
    private bool _active;
    protected override async Task OnInitializedAsync()
    {
        _authorized = await MenuDataProviderFactory.IsAuthorizedAsync(Item);
        if (_authorized)
        {
            _collapse = Item.Any() && NavMenu?.DisplayMode == DisplayMode.Full;
            _active = NavMenu?.IsCurrent(Item) == true;
            if (_active && _collapse)
                _expanded = true;
        }
    }

    private void OnActived()
    {
        NavMenu?.OnActivedCurrent(Item);
    }

    private bool _expanded;
    private void OnCollasped()
    {
        _expanded = !_expanded;
        StateHasChanged();
    }
}