@using GSites.Extensions.Menus
@using GSites.Extensions.Themes
@inject IMenuDataProviderFactory MenuDataProviderFactory
@inherits GSiteComponentBase

@if (_authorized)
{
    <div id="@Item.Id" class="@("nav-item".AddClass("nav-collapse", _collapsed).AddClass("expanded", _active))">
        @if (_collapsed)
        {
            <button class="@("nav-link".AddClass("active", _active))" href="@Item.Url"
                    @onclick="OnActived" @onclick:preventDefault="true" @onclick:stopPropagation="true" title="@Item.Title">
                <Icon Class="@Item.Icon"></Icon>
                <span>@Item.Title</span>
            </button>
            @if (_active)
            {
                <nav class="nav nav-@(Level) flex-column">
                    @foreach (var child in Item.OrderBy(m => m.Priority))
                    {
                        <NavMenuItem Item="child" Level="@(Level + 1)" />
                    }
                </nav>
            }
        }
        else
        {
            <NavLink class="@("nav-link".AddClass("active", _active))" @onclick="OnActived" href="@Item.Url" title="@Item.Title" Match="@(Item.Match??NavLinkMatch.Prefix)">
                <Icon Class="@Item.Icon"></Icon>
                <span>@Item.Title</span>
            </NavLink>
        }
    </div>
}

@code {
    /// <summary>
    /// 父级菜单组件实例。
    /// </summary>
    [CascadingParameter]
    private NavMenu? NavMenu { get; set; }

    /// <summary>
    /// 当前菜单项目实例。
    /// </summary>
    [Parameter]
    public GSites.Extensions.Menus.NavMenuItem Item { get; set; } = null!;

    /// <summary>
    /// 层级。
    /// </summary>
    [Parameter]
    public int Level { get; set; }

    private bool _authorized;
    protected override async Task OnInitializedAsync()
    {
        _authorized = await MenuDataProviderFactory.IsAuthorizedAsync(Item);
    }

    private bool _active;
    private bool _collapsed;
    protected override void OnParametersSet()
    {
        if (_authorized)
        {
            _collapsed = Item.Any() && NavMenu?.DisplayMode == DisplayMode.Full == true;
            _active = NavMenu?.IsCurrent(Item) == true;
        }
    }

    private void OnActived()
    {
        NavMenu?.OnActivedCurrent(Item);
    }
}