<div @attributes="AdditionalAttributes">
    @if (_collapse)
    {
        <button class="nav-link" href="@Item.Url" @onclick="Collasped" @onclick:preventDefault="true"
               @onclick:stopPropagation="true" title="@Item.Title">
            @if (!string.IsNullOrEmpty(Item.Icon))
            {
                <span class="bi @Item.Icon" aria-hidden="true"></span>
            }
            <span>@Item.Title</span>
        </button>
        @if (_expanded)
        {
            <nav class="nav nav-@(Level) flex-column">
                @foreach (var child in Item.OrderBy(m => m.Priority))
                {
                    <NavMenuItem Item="child" Level="@(Level + 1)" />
                }
            </nav>
        }
    }
    else
    {
        <NavLink class="nav-link" href="@Item.Url" title="@Item.Title" Match="@Item.Match">
            @if (!string.IsNullOrEmpty(Item.Icon))
            {
                <span class="bi @Item.Icon" aria-hidden="true"></span>
            }
            <span>@Item.Title</span>
        </NavLink>
    }
</div>

@code {
    /// <summary>
    /// 当前菜单项目实例。
    /// </summary>
    [Parameter]
    public GSites.Extensions.Menus.NavMenuItem Item { get; set; } = null!;

    /// <summary>
    /// 层级。
    /// </summary>
    [Parameter]
    public int Level { get; set; }

    protected override ClassNameBuilder ClassName => "nav-item".AddClass("nav-collapse", _collapse);

    private bool _collapse;
    protected override void OnInitialized()
    {
        _collapse = Item.Any();
    }

    private bool _expanded;
    private void Collasped()
    {
        _expanded = !_expanded;
    }
}